@model OnlineAuction.ViewModels.OrderVM

@{
    ViewBag.Title = "Create";
}
<script>
    $(function () {
        $('button').click(function () {
            $.ajax({
                method: "Post",
                url: '/Orders/Confirm',

                success: function (data) {
                    console.log(data.orderId)
                    alert(data.message)
                    $(location).attr('href', '/Orders/BuyBye?orderId=' + data.orderId)
                }
            })
        })
    })
</script>
<h2>Confirmation</h2>
<br>

<div class="bg-info container-fluid">
    @Html.AntiForgeryToken()
    <div class="border">
        <h3><b>Customer information</b></h3>
        <br />

        <table>
            <tr>
                <th>Name</th>
                <td>@Model.Client.Account.FullName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Client.Account.Email</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Model.Client.Account.Address.ToString()</td>
            </tr>
        </table>
        <h3><b>Order summary</b></h3>
    </div>
    <div class=" ">
        @foreach (var item in Model.Items)
        {
            <div class="col-lg-5"><img style='width: 200px; height: 230px' src="@item.Product.Image.URI" />
            </div>

            <div class="card my-3 col-lg-5" style="width: 200px">
                <table class="table table-hover table-sm">
                    <tr>
                        <th>ID</th>
                        <td>@item.Id</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>@item.Product.Title</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>@item.EndPrice</td>
                    </tr>
                    <tr>
                        <th>Quantity: </th>
                        <td> @Model.Items.Count()</td>
                    </tr>
                    <tr>
                        <th>Total cost</th>
                        <td>@Model.GetTotalPrice()</td>
                        <td>  kzt</td>
                    </tr>
                </table>
                <div style="width: 10px"></div>
                <button class="btn btn-success btn-lg">Оплатить</button>
            </div>
        }
    </div>
</div>

@if (User.IsInRole("admin"))
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
