@model OnlineAuction.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
}
<script>
    $(function (e) {
        var myForm = document.forms[0];
        $('input[type=submit]').click(function (e) {
            $(this).attr('disabled', true);
            $(myForm).triggerHandler('submit');
        });
        $(myForm).submit(function (e) {
            $.ajax({
                method: "POST",
                data: $(myForm).serialize(),
                success: function (data) {
                    if (data.success == true) {
                        sessionStorage.setItem("accountId", JSON.stringify(data.accountId));
                        sessionStorage.setItem("myURI", data.myURI);
                        $(location).attr('href', '/Home/Index');
                    }
                    else {
                        alert(data.message);
                        $(location).attr('href', '/Home/Index');
                    }
                       
                    $('input[type= submit]').attr('disabled', false);
                },
                error: function (xhr, status) {
                    alert(status);
                    $('input[type= submit]').attr('disabled', false);
                }
            })
        });
    })
</script>
<h2>Аутентификация</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-4"  })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = "e-mail", @class = "input input-lg" } })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "password", @class = "input input-lg" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Вход" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}
<br />
@Html.ActionLink("Зарегистрироваться", "Registration", "Accounts")
