@model DataLayer.Entities.Auction

@{
    ViewBag.Title = "Details";
    ViewBag.OfferNextBet = ViewBag.TopBet.Bet + Model.Step;
}
<script>
    //очист. стиля
    $(function () {
        $('footer').css("clear", "both")
    })
    //===================================================<Сделать ставку>========================================================
    $(function () {
    //1) Проверить ставку-----------------------
        function checkBet(currBet, yourBet) {
            if (yourBet == null || yourBet == undefined || yourBet == "") {
                alert("Ставка не может быть null!");
                return false;
            }
            if (currBet >= yourBet || currBet % (yourBet - currBet) != 0) {
                alert("Ставка должна быть положительной с шагом кратным заданному!");
                return false;
            }
            return true;
        }

    //2)------Ajax------------
        var myForm1 = document.form1;
        $(myForm1).submit(function (e) {
            e.preventDefault();
            //провер. свой аукцион или нет (запрет автоучастия, кроме 1-ой ставки)
            if (parseInt(@ViewBag.Client.Id) == parseInt(@Model.ActorId)) {
                alert("Организатор аукциона не может быть его участником!")
                return;
            }

             //ajax-----------------------------
            var currBet = parseFloat($('div.curr_bet').html())
            var yourBet = parseFloat($('input#bet').val())

            if (checkBet(currBet, yourBet) == false) {
                return;
            }
            var data = {                //view model JsonRequetCreateBet
                "auctionId": $('div.div-auction').html(),
                "clientId": $('div.div-client').html(),
                "bet": yourBet
            }

            $.ajax({
                method: "Post",
                url: '@Url.Action("Create", "BetAuctions")',
                accept: 'application/json',
                data: { data: data },
                success: function (data) {
                    alert(data.messageError)
                    $(location).attr('href', "/Auctions/Index")
                },
                error: function (e, msg) {
                    alert(msg)
                }
            })
        })
    });
    //---------коррекц. знач. выкупн цены если в БД установ. 0
    $(function () {
        if (parseFloat($('div.redemption').html()) == 0) {
            $('.redemption').html(parseFloat($('.curr_bet').html()) * 3.0)
        }
    })
//---------------------------------------------------------- редактирование аукциона -------------------------------------------------------------------------------------
    //доп.контроль по правам доступа к ред. аукц.(!)
    $(function () {
        //12.09.2020 14:25:00 -> 2020-09-12T14:25:00
        function getDateTime(parametr) {
            let day = parametr.split(' ')[0].split('.')[0];
            let month = parametr.split(' ')[0].split('.')[1];
            let year = parametr.split(' ')[0].split('.')[2];
            let time = parametr.split(" ")[1];
            time = checkHour(time)
            //1, 2 - в контроллер, 3- для расчета длительн.
            return [new Object(year + '-' + month + '-' + day + 'T' + time), time,
            new Date(year + '-' + month + '-' + day + 'T' + time)]
        }

        //в БД время может хран. в формате 1:15:00, от чего у JS запор
        function checkHour(time) {
            let hour = time.split(':')[0]
            hour = hour.length == 1 ? "0" + hour : hour;
            return hour + ':' + time.split(':')[1] + ':' + time.split(':')[2];
        }
        //-------------------------------------
        $('a#editLink').click(function (e) {
            e.preventDefault();
            //1)проверка: право на редактир.
            if (parseInt(@ViewBag.Client.Id) != parseInt(@Model.ActorId)) {
                alert("У вас нет прав для редактирования!")
                return;
            }
            //2) проверка: нельзя изм. аукц. если время провед. наступило
            var date = new Date();
            var begin = $('.div-begin-time').html()
            var dateBeginFormatDatetimeJS = getDateTime(begin)[2]

            if (date > dateBeginFormatDatetimeJS) {
                var delPermiss = confirm("Время для редактирования истекло. Желаете отменить аукцион?");
                console.log(delPermiss)
                if (delPermiss == true) { //сейчас не нужно
                    $('#deleteLink').removeClass("hidden")
                }
                return;
            }
            //3) надо не просто перейти, но еще и передать все знач. и имена значим. полей
            var price = parseFloat($('.div-price').html())
            var nextBet = parseFloat($('.bet').html())
            var step = nextBet == 0 || isNaN(nextBet) ? (price / 10) : (nextBet - price)

            var dateBegin = getDateTime(begin)[0]   // v.1 +
            var timeBegin = getDateTime(begin)[1]   // v.2 => DateTime.ASP

            var end = $('.div-end-time').html()
            var dateEndFormatDatetimeJS = getDateTime(end)[2]
            var duration = (dateEndFormatDatetimeJS - dateBeginFormatDatetimeJS) / (1000 * 3600);    //- только часы

            //пакет для редактир. (в методе Create!)=>AuctionEditVM!
            var data = {
                id: parseInt($('.div-auction').html()),
                title: $('.div-title').html(),
                description: $('#description').html(),
                price: price,
                step: step,
                redemptionPrice: parseFloat($('.redemption').html()),
                dayBegin: dateBegin, //2020-09-12T14:25:00 -> C# DateTime
                timeBegin: timeBegin,
                duration: duration,
                imageId: parseInt($('.div-image-id').html())
            }
            console.log(data.duration)
            $.ajax({
                method: "Get",
                url: '@Url.Action("Create", "Auctions")',
                accept: 'application/json',
                data: data,
                success: function (data) {
                    console.log(data)
                    alert(data)
                    $(location).attr('href', "/Auctions/Create")
                },
                error: function (e, msg) {
                    alert(msg)
                }
            })
        })
    });

  //============================================== Покупки ==================================================
    $(function () {
        //а)  Обработ. <Купить сейчас> - т.е. перейти к оплате немедленно
        //(цена = RedemptionPrice, аукцион - закрыв., опред.Победитель, победителю отправл.письмо со ссылкой на стр.оформ.Заказа)
        $('#buy-now-btn').click(function (e) {
            AddToCart(true);
        });
        //б) положить в Корзину т.е. начать оформление Заказа, но не ставить отметку <isAproved>---------------------------------
        //сохр. его в сессии и добавл. в Корзмнц нов. продукты
        $('#btn_add_to_cart').click(function (e) {
            AddToCart(false);
        })
    });

    function AddToCart(flagBuyNow) {
        var item = {
            Id: 0,
            ProdId: parseInt($('.div-prod-id').html()),
            EndPrice: parseFloat($('.redemption').html()),
            OrderId: 0
        }
        var orderVM = {
            Id: 0,
            Items: new Array(item),
            ClientId: parseInt($('.div-client').html()),
            ProdId: parseInt($('.div-prod-id').html()),
            EndPrice: parseFloat($('.redemption').html()),
            AuctionId: parseInt($('.div-auction').html()),
            flagBuyNow: flagBuyNow
        }

        $.ajax({
            method: "GET",
            url: "/Orders/Create/",
            accept: 'application/json',
            data: orderVM,
            success: function (data) {
                alert(data.message)
                console.log(flagBuyNow)
                //if (data.flagBuyNow == true) {
                if (flagBuyNow == true) {
                    $(location).attr('href', "/Orders/Confirm/?orderId=" + data.orderId)
                }
                else {
                    console.log("Stay here")
                }

            },
            error: function (e, msg) {
                alert(msg)
            }
        })
    }
</script>

<h2>Details</h2>
<h4>Auction</h4>
<hr />
<div class="hidden div-client">@ViewBag.Client.Id</div>
<div class="hidden div-account">@ViewBag.Client.AccountId</div>
<div class="hidden div-auction">@Model.Id</div>
<div class="hidden div-prod-id">@Model.Product.Id</div>
<div class="hidden div-price">@Model.Product.Price</div>
<div class="hidden div-title">@Model.Product.Title</div>
<div class="hidden div-image-id">@Model.Product.ImageId</div>
<div class="hidden div-begin-time">@Model.BeginTime</div>
<div class="hidden div-end-time">@Model.EndTime</div>
<div class=" div-img">@ViewBag.editImg</div>

<div style="display:flex">
    <div class="col-md-6">
        @Html.Raw("<img  style='width: 100%',  src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Product.Image.ImageData) + "\" />")


        <form class="clearfix" name="form1">
            <input type="hidden" name="auctionId" value=@Model.Id>
            <div class="col-md-3">
                <h5><b>Текущая ставка</b></h5>
                <div class="curr_bet">@ViewBag.TopBet.Bet</div>
            </div>
            <div class="col-md-4" style="margin-top:7px">
                <h5 class="title" style="cursor: pointer;" title="Делайте ставку дамы и господа!"><b>Ставка</b></h5>
                <input type="text" name="bet" id="bet" placeholder=@ViewBag.OfferNextBet class="form-control">
            </div>
            <div class="col-md-5" style="margin-top:41px">
                <input type="submit" value="Сделать ставку" data-id="" id="bid-btn" class="btn btn-info">
            </div>
        </form>




        <form class="clearfix" name="form2" style="margin-top:10px">
            <input type="hidden" name="auctionId" value=@Model.Id>
            @*<input type="hidden" name="item_id" value="">*@
            <div class="col-md-4" style="margin-top:10px">
                <h5><b>Цена “купить сейчас”</b></h5>
                <div class="redemption">@Model.RedemptionPrice</div>
            </div>
            <div class="col-md-6" style="margin-top:35px">
                <input type="button" value="Купить сейчас" id="buy-now-btn" class="btn btn-danger btn-lg">
            </div>
            <div class="col-md-2" style="margin-top:35px">
                <button class="btn btn-success" type="submit" id="btn_add_to_cart">
                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                </button>
            </div>
        </form>


    </div>
    <div class="col-md-6">
        <dl style="margin-left:40px">
            <dd id="actor_id">
                @Html.HiddenFor(model => model.Actor.Id)
            </dd>

            <dt>
                @Html.HiddenFor(model => model.Description)
            </dt>

            <dd class="h4" id="description">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayName("Начало продаж")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeginTime)
            </dd>

            <dt>
                @Html.DisplayName("Завершение")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
        </dl>
    </div>
</div>

<p style="clear:both; margin:20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @id = "editLink" }) |
    @Html.ActionLink("Back to List", "Index") |

    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @id = "deleteLink", @class = "hidden" })
</p>
