@model OnlineAuction.ViewModels.AuctionVM

@{

    ViewBag.Title = "Details";
    ViewBag.OfferNextBet = ViewBag.TopBet.Bet + Model.Step;
}
<script src="~/Scripts/MyShareScripts/ShareScripts.js" type="text/javascript"></script>
<script>
    //очист. стиля
    $(function () {
        $('footer').css("clear", "both")
    })
    //===================================================Сделать ставку========================================================
    $(function () {
        //1) Проверить ставку-----------------------
        function checkBet(currBet, yourBet) {
            if (yourBet == null || yourBet == undefined || yourBet == "") {
                alert("Ставка не может быть null!");
                return false;
            }

            console.log("%bet: ", currBet % (yourBet - currBet ))
            if (currBet >= yourBet || (currBet % (yourBet - currBet) != 0 )) {
                alert("Ставка должна быть положительной с шагом кратным заданному!");
                return false;
            }
            return true;
        }

        //2)------Ajax-->BetAuctionsController----------===Сделать ставку====
        var myForm1 = document.betForm;
        $(myForm1).submit(function (e) {
            e.preventDefault();
            //провер. свой аукцион или нет (запрет автоучастия, кроме 1-ой ставки)
            if (parseInt($('.div-client').html()) == parseInt(@Model.ActorId)) {
                alert("Организатор аукциона не может быть его участником!")
                return;
            }

            //ajax-----------------------------
            var currBet = parseFloat($('div.curr_bet').html())
            var yourBet = ($('input#bet').val())

            if (checkBet(currBet, yourBet) == false) {
                return;
            }
            var data = {                //view model JsonRequetCreateBet
                auctionId: $('div.div-auction').html(),
                clientId: $('div.div-client').html(),
                bet: yourBet
            }
            console.log("data: ", data)
            if (data.clientId == undefined || data.clientId == NaN) {
                alert("Вы не являетесь клиентом. Проверте баланс!")
                return
            }
            $.ajax({
                method: "Post",
                url: '@Url.Action("Create", "BetAuctions")',
                accept: 'application/json',
                data: { data: data},
                beforeSend: function () {
                    console.log("data: ", JSON.stringify(data) )
                },
                success: function (data) {
                    alert(data)
                    $(location).attr('href', "/Auctions/Index")
                },
                error: function (e, msg) {
                    alert(msg)
                }
            })
        })
    })
            //---------коррекц. знач. выкупн цены если в БД установ. 0
    $(function () {
        if (parseFloat($('div.redemption').html()) == 0) {
            $('.redemption').html(parseFloat($('.curr_bet').html()) * 3.0)
        }
    })
 //-------------------------к редактированию аукциона ->AuctionsController----------------------------------------------------
    $(function () {
        $('a#editLink').click(function (e) {
            e.preventDefault();
            //1)проверка: право на редактир.

            if (parseInt($('.div-client')) == parseInt(@Model.ActorId)) {
                alert("У вас нет прав для редактирования!")
                return;
            }
            //2) проверка: нельзя изм. аукц. если время провед. наступило
            var date = new Date();
            var begin = $('.div-begin-time').html()
            var dateBeginFormatDatetimeJS = getDateTime(begin)[2]
            var end = $('.div-end-time').html()
            var dateEndFormatDatetimeJS = getDateTime(end)[2]

            //console.log(dateEndFormatDatetimeJS)
            if (date > dateBeginFormatDatetimeJS && date < dateEndFormatDatetimeJS) {
                var delPermiss = confirm("Время для редактирования истекло. Желаете отменить аукцион?");
                if (delPermiss == true) { //сейчас не нужно
                    $('#deleteLink').removeClass("hidden")
                }
                return;
            }
            //if (date > dateEndFormatDatetimeJS) {
            //    alert("Аукцион уже завершен. Изменение не возможно!")
            //    return;
            //}
            //3) надо не просто перейти, но еще и передать все знач. и имена значим. полей
            var price = parseFloat($('.div-price').html())
            var nextBet = parseFloat($('.bet').html())
            var step = nextBet == 0 || isNaN(nextBet) ? (price / 10) : (nextBet - price)

            var dateBegin = getDateTime(begin)[0]   // vol.1 -исп.в контролл. преобраз. в DateTime.ASP
            var timeBegin = getDateTime(begin)[1]   // vol.2 -тоже
            console.log(dateBegin)
            var duration = (dateEndFormatDatetimeJS - dateBeginFormatDatetimeJS) / (1000 * 3600);    //- только часы

            //пакет для редактир. (в методе Create!)=>AuctionEditVM!
            var data = {
                Id: parseInt($('.div-auction').html()),
                Title: $('.div-title').html(),
                Description: $('#description').html(),
                ProductId: parseInt($('.div-prod-id').html()),
                CategoryId: parseInt($('.div-category-id').html()),
                Price: price,
                Step: step,
                RedemptionPrice: parseFloat($('.redemption').html()),
                DayBegin: dateBegin, // -> C# DateTime: "2020-09-12T14:25:00"
                TmeBegin: timeBegin,
                Duration: duration,
                ImageId: parseInt($('.div-image-id').html())
            }
            console.log(JSON.stringify(data))

            $.ajax({
                method: "GET",
                url: '@Url.Action("Create", "Auctions")',
                accept: 'application/json',
                data:   data, //данные перед. в строке: тело запроса недопустимо
                success: function (data) {
                    alert(data.alert)
                    if (data.success == true)
                        $(location).attr('href', "/Auctions/Create")
                },
                error: function (e, msg) {
                    console.log(msg)
                    alert(msg)
                }
            })
        })
    })

            //============================================== Покупки ->OrdersController==================================================
    $(function () {
        //а) Проверка на роль
        var myRoles = sessionStorage.getItem("myRoles")
        if (!myRoles.includes("client")) {
            $('.btn').addClass("disabled")
        }
        //б)  Обработ. <Купить сейчас>
        //- т.е. перейти к оплате немедленно
        //(цена = RedemptionPrice, аукцион - закрыв., опред.Победитель, победителю отправл.письмо со ссылкой на стр.оформ.Заказа)
        $('#buy-now-btn').click(function (e) {
            AddToCart(true);
        });
        //в) положить в Корзину т.е. начать оформление Заказа, но не ставить отметку <isAproved>
        //---------------------------------
        //сохр. его в сессии и добавл. в Корзмнц нов. продукты
        $('#btn_add_to_cart').click(function (e) {
            AddToCart(false);
        })
    });

    function AddToCart(flagBuyNow) {
        var item = {
            Id: 0,
            ProdId: parseInt($('.div-prod-id').html()),
            EndPrice: parseFloat($('.redemption').html()),
            OrderId: 0
        }
        var orderVM = {
            Id: 0,
            Items: new Array(item),
            ClientId: parseInt($('.div-client').html()),
            ProdId: parseInt($('.div-prod-id').html()),
            EndPrice: parseFloat($('.redemption').html()),
            AuctionId: parseInt($('.div-auction').html()),
            flagBuyNow: flagBuyNow
        }

        $.ajax({
            method: "GET",
            url: "/Orders/Create/",
            accept: 'application/json',
            data: orderVM,
            success: function (data) {
                alert(data.message)
                sessionStorage.setItem("orderId", data.orderId)
                    
                if (data.flagBuyNow == true) {
                    $(location).attr('href', "/Orders/Confirm/?orderId=" + data.orderId)
                }
                else {                    
                    sessionStorage.setItem("itemsCount", data.itemsCount) 
                    $(location).attr('href', "/Auctions/index")
                }
            },
            error: function (e, msg) {
                alert(msg)
            }
        })
    }


    //========================= Начать обмен сообщениями с АВТОРОМ аукциона====================================
    $(function () {
        var flagChat = sessionStorage.getItem("firebase");
        if (flagChat == null || flagChat == undefined || flagChat == "undefined") {
            $('a.send-message').addClass("disabled").addClass("btn-secondary").removeClass("btn-success")
        }
        else {
            $('a.send-message')
                .removeClass("disabled").removeClass("btn-secondary").addClass("btn-success")
                .click(function (e) {
                e.preventDefault()
                var auctionId = $('.div-auction').html()
                sessionStorage.setItem("auctionId", auctionId); //понадоб. в чате
                console.log("firebase: " + sessionStorage.getItem("firebase"))

                if (sessionStorage.getItem("firebase") != "undefined") {
                    $(this).attr('href', '/Auctions/ChatAsync/?auctionId=' + auctionId)
                }
                else {
                    alert("Sorry, firebase dsn't work!")
                }
            })
        }
    })

</script>

<h2>Details</h2>
<h4>Auction</h4>
<hr />
<div class="hidden div-auction">@Model.Id</div>
<div class="hidden div-prod-id">@Model.Product.Id</div>
<div class="hidden div-category-id">@Model.Product.CategoryId</div>
<div class="hidden div-price">@Model.Product.Price</div>
<div class="hidden div-title">@Model.Product.Title</div>
<div class="hidden div-image-id">@Model.Product.ImageId</div>
<div class="hidden div-begin-time">@Model.BeginTime</div>
<div class="hidden div-end-time">@Model.EndTime</div>
<div class=" div-img">@ViewBag.editImg</div>
@{
    if (@ViewBag.Client != null)
    {
        <div class="hidden div-client">@ViewBag.Client.Id</div>
        <div class="hidden div-account">@ViewBag.Client.AccountId</div>

    }
}
<div style="display:flex">
    <div class="col-md-6">
        <div class="big-slide">
            <img style='width: 100%' , src="@Model.Product.Image.URI" id="current" />
        </div>
        <div class="list-img" style="display:flex">
            @{
                foreach (var image in @ViewBag.ListImg)
                {
                    <img src="@image.URI" />
                }
            }
        </div>
    </div>

    <div class="col-md-6">
        <dl style="margin-left:40px">
            <dd id="actor_id">
                @Html.HiddenFor(model => model.Actor.Id)
            </dd>

            <dt>
                @Html.HiddenFor(model => model.Description)
            </dt>

            <dd class="h4" id="description">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayName("Начало продаж")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeginTime)
            </dd>

            <dt>
                @Html.DisplayName("Завершение")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
        </dl>

        <a class="btn btn-success send-message" style="margin-left:40px" href="/Auctions/ChatAsync">Отправить сообщение автору</a>

        <div class="fa-border" style="margin-top:50px">
            <form class="clearfix" name="betForm">
                <input type="hidden" name="auctionId" value=@Model.Id>
                <div class="col-md-3">
                    <h5><b>Текущая ставка</b></h5>
                    <div class="curr_bet">@ViewBag.TopBet.Bet</div>
                </div>
                <div class="col-md-4" style="margin-top:7px">
                    <h5 class="title" style="cursor: pointer;" title="Делайте ставку дамы и господа!"><b>Ставка</b></h5>
                    <input type="text" name="bet" id="bet" placeholder=@ViewBag.OfferNextBet class="form-control">
                </div>
                <div class="col-md-5" style="margin-top:41px">
                    <input type="submit" value="Сделать ставку" data-id="" id="bid-btn" class="btn btn-info">
                </div>
            </form>


            <form class="clearfix" name="buyNowForm" style="margin-top:10px">
                <input type="hidden" name="auctionId" value=@Model.Id>
                <div class="col-md-4" style="margin-top:10px">
                    <h5><b>Цена “купить сейчас”</b></h5>
                    <div class="redemption">@Model.RedemptionPrice</div>
                </div>
                <div class="col-md-6" style="margin-top:35px">
                    <input type="button" value="Купить сейчас" id="buy-now-btn" class="btn btn-danger btn-lg">
                </div>
                <div class="col-md-2" style="margin-top:35px">
                    <button class="btn btn-success" type="submit" id="btn_add_to_cart">
                        <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

<p style="clear:both; margin:20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @id = "editLink" }) |
    @Html.ActionLink("Back to List", "Index") |

    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @id = "deleteLink", @class = "hidden" })
</p>

<script src="~/Scripts/MyGalleryScript/myGalleyScript.js" type="text/javascript"></script>
