@model IEnumerable<OnlineAuction.ViewModels.AuctionVM>

@{
    ViewBag.Title = "Аукционы";
    ViewBag.EndPrice = 0;
}
<script>
    //внеш. вид: тень при наведении
    $(function () {
        $('.card:not(.main-card)')
            .mousemove(function (e) {
                e.preventDefault()
                e.stopPropagation()
                $(this).css({
                    'max-width': '192px',
                    'max-height': '252px',
                    'width': '+=2px',
                    'height': '+=2px',
                    'box-shadow': '10px 4px 10px 3px #888'
                })
            })
            .mouseout(function (e) {
                $(this).css({
                    'min-width': '190px',
                    'min-height': '250px',
                    'width': '-=2px',
                    'height': '-=2px',
                    'box-shadow': '0px 0px 0px 0px '
                })
            });

        $('.main-card')
            .mousemove(function (e) {
                e.preventDefault()
                e.stopPropagation()
                $(this).css({
                    'box-shadow': '10px 4px 10px 3px #888'
                })
            })
            .mouseout(function (e) {
                $(this).css({
                    'box-shadow': '0px 0px 0px 0px '
                })
            });
        $('img', 'div.main-card').css({ 'float': 'left' })
    });

    //-------- сообщ. после Create (если нет прав)---------------
    //AuctionsContr./Index -> Alert: not client
    $(function () {
        if ($('.my-alert').html() !== "") {
            var sms = $('.my-alert').html()
            console.log($('.my-alert').html());
            alert(sms)
        }
    })

    //клик по карточке лота -> css + ->AuctionsContr./Detail
    $(function () {
        var auctionId = 0;
        $('.card').mousedown(function (e) {
            //console.log(e.currentTarget)
            $(e.currentTarget).children().each((i, item) => {
                if ($(item).hasClass('auctionId')) {
                    auctionId = $(item).html();
                }
            });
            $(e.currentTarget).css({
                'min-width': '190px',
                'min-height': '290px',
                'width': '-=5px',
                'height': '-=5px',
                'box-shadow': '4px 14px 4px 3px #888'
            });
            $('.card *').css({
                'width': '-=5px'
            });
        })

        $('.card').mouseup(function (e) {
            $(e.currentTarget).css({
                'width': '+=5px',
                'height': '+=5px',
                'box-shadow': '0px 0px 0px 0px'
            })
            $('.card *').css({
                'width': '+=5px'
            })
            $(location).attr('href', '/Auctions/Details/?auctionId=' + auctionId);
        })

        $('.main-card').click(function (e) {
            $(location).attr('href', '/Auctions/Details/?auctionId=' +@ViewBag.BestAuction.Id)
        })
    });

</script>

<h2>@ViewBag.Title</h2>
<div class="hidden my-alert">@ViewBag.Alert</div>

@{
    <div class="jumbotron  alert-info  container-fluid main-card">

        <div class="col-md-5">
            <h3>Главный экспонат</h3>
            <img style='width: 300px' , src="@ViewBag.BestAuction.Product.Image.URI" />
        </div>
        <div class="hidden auctionId">
            @ViewBag.BestAuction.Id
        </div>
        <div class="col-md-5" style="margin-top:55px">
            <table class="table">
                <tr>
                    <th><h4>Title</h4></th>
                    <td><h4>@ViewBag.BestAuction.Product.Title</h4></td>
                </tr>
                <tr>
                    <th><h4>Descriptio</h4></th>
                    <td><h4>@ViewBag.BestAuction.Description</h4></td>
                </tr>
                <tr>
                    <th><h4>Price</h4></th>
                    <td><h4>@ViewBag.BestAuction.Product.Price</h4></td>
                </tr>
            </table>
        </div>
    </div>

    if (Model != null && Model.Count() != 0)
    {
        <div class="jumbotron  alert-success container-fluid" id="box-auction">

            <div id="sidebar">
                @{
                    if (ViewBag.Categories != null)
                    {

                        <div class="form-group category-id">
                            @Html.Label("Фильтр по категориям", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <form action="/Auctions/Index/" method="get">
                                    @Html.DropDownList("CategoryId", ViewBag.Categories as SelectList, new { name = "category" })
                                    @Html.ValidationMessage("Duration", "", new { @class = "text-danger" })
                                    <input type="submit" value="Go!" />
                                </form>
                            </div>
                        </div>

                    }
                }
            </div>

            @foreach (var auction in Model.ToList())
            {
                var product = auction.Product;
                <div class="card table-bordered col-md-4" style="height:250px; width: 190px; margin:10px;">
                    <div class="hidden auctionId">@auction.Id</div>
                    <img style='width: 90%; height: 130px' , src="@auction.Product.Image.URI" />
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <td>@product.Title</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>@product.Price</td>
                        </tr>
                    </table>
                </div>
                <div style="width: 10px"></div>
            }
        </div>

    }
    else
    {
        <div>
            <h4>Желаете выставить товар? Тогда нажмите "Создать аукцион"</h4>
            <div><img style="width: 75%" src="https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/GWWs5U_NFCraYQ" /></div>
        </div>
    }
}



