<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jquery.ui.datepicker.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.theme.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/signalr")


    @using OnlineAuction.ViewModels
    @{
        //необх. для AddBalancePartialView
        AccountVM account = new AccountVM();

    }
</head>
<body>
    <script>
        //настройка - юзеру юзерово, админу ..
        $(function (e) {
            var accountId = sessionStorage.getItem("accountId");
            if (accountId == undefined || accountId == NaN) {
                $('#second-dropdown').addClass('hidden')
                $('#li-hidden-out').removeClass('hidden')
                $('#li-container').hide()

                $('#ul-one').hide()
                $('#ul-two').hide()
            }
            else {
                $('#second-dropdown').removeClass('hidden')
                $('li#hidden-out').addClass('hidden')
                var username = $('#UserIdentityName').html()
                $('.div-hello').html('Hello ' + username + '!')
            }

            var data = sessionStorage.getItem("myURI");
            //------------------установ. изображ.------------------------------------
            if (data != null && data != undefined) {
                var img = document.createElement("img");
                $(img).css({ 'width': '50px', 'height': '50px' });
                $(img).attr('src', data);
                $('.divImg').append(img);
            }
            //настройка ссылок перехода- добавл. ключей
            $(".classDeleteAccounts").attr("href", "/Accounts/Delete/?id=" + accountId); //здесь удаление не из представл. админа "Все аккаунты", поэтому нет модели
            $(".classMyAuctions").attr("href", "/Auctions/Index/?isActor=1");
            $(".classMyOrders").attr("href", "/Orders/Index/?accountId=" + accountId);  //Мои заказы + Back to List (_AddBalancePartialView)
        })

        //установ. поля баланса - отправка в част. представ. BeginForm...
        $(function () {
            $('.classAddBalance')
                .on('click', function (e) {
                    e.preventDefault();
                    console.log(e.target)

                    $.ajax({
                        url: "/Accounts/Edit/?flag=1",
                        type: "GET",
                        //datatype: "json",
                        success: function (data) {
                            $('#modalEdit').modal('show');
                            console.log(data.Balance)
                            $('#input_balance').val(data.Balance)
                        },
                        error: function (e, msg) {
                            alert(msg)
                        }
                    })
                });
        })

    </script>
    <div class="hidden" id="UserIdentityName">@User.Identity.Name</div>

    <div class="navbar  navbar-fixed-top" style="background-color:azure">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Auction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse">
                <div style="display:flex; justify-content:space-between">
                    <ul class="nav navbar-nav" id="ul-one">
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <li>@Html.ActionLink("Пользователи", "Index", "Accounts")</li>
                            }
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <div>Домашняя страница</div> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                                <li>@Html.ActionLink("О программе", "About", "Home")</li>
                                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                            </ul>
                        </li>
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <li>@Html.ActionLink("Dashboard", "Index", "AdminPanel")</li>
                            }
                        }
                        @{
                            if (!User.IsInRole("admin"))
                            {
                                if (ViewBag.Firebase != null)
                                {
                                    <li>@Html.ActionLink("Чат", "Chat", "Home")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Чат", "Chat", "Home", null, new { @class = "btn disabled" })</li>
                                }
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav" id="ul-two">
                        @{
                            if (User.Identity.Name.Equals(""))
                            {
                                <li>@Html.ActionLink("Войти", "Login", "Accounts")</li>
                                <li>@Html.ActionLink("Зарегистрироваться", "Registration", "Accounts")</li>
                            }
                        }

                        @{ if (!User.Identity.Name.Equals(""))
                            {
                                if (!User.IsInRole("admin"))    //просто юзер
                                {
                                    <li>@Html.ActionLink("Создать аукцион", "Create", "Auctions", new { flagCreate = 1 }, new { @class = "classCreateAuction" })</li>
                                    <li>@Html.ActionLink("Аукционы", "Index", "Auctions")</li>
                                    <li class="dropdown" id="second-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <div class="div-hello"></div>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Мои аукционы", "Index", "Auctions", new { accountId = 0 }, new { @class = "classMyAuctions" })</li>
                                            <li>@Html.ActionLink("Мои заказы", "Index", "Orders", new { accountId = 0 }, new { @class = "classMyOrders" })</li>
                                            <li>@Html.ActionLink("Редактировать аккаунт", "Edit", "Accounts", new { accountId = 0 }, new { @class = "classEditAccounts" })</li>
                                            <li>@Html.ActionLink("Пополнить баланс", "Edit", "Accounts", new { accountId = 0 }, new { @class = "classAddBalance" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Удалить аккаунт", "Delete", "Auctions", new { accountId = 0 }, new { @class = "classDeleteAccounts" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Выйти", "Logoff", "Accounts")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="divImg">
                                        </div>
                                    </li>
                                }
                                else //User.Name - админ
                                {
                                    <li>@Html.ActionLink("Аукционы", "Index", "Auctions")</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><div class="div-hello"></div> <span class="caret"></span></a>
                                        <ul class="dropdown-menu" id="person_menu" role="menu">
                                            <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
                                            <li>@Html.ActionLink("Редактировать аккаунт", "Edit", "Accounts", new { accountId = 0 }, new { @class = "classEditAccounts" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Выйти", "Logoff", "Accounts")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="divImg">
                                        </div>
                                    </li>
                                }

                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="hidden" id="li-hidden-out">@Html.ActionLink("Обновить и зайти", "Logoff", "Accounts")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Add balance</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        @Html.Partial("Partial/_AddBalancePartialView", account)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
